*{
  margin:0;
  padding:0;
  text-align: center;
}

.portfolio-header-h1 {
   background-color: #20232a;
   color:#ffffff;
 }
.portfolio-header-nav {
  background-color: #20232a;
}

.portfolio-header-ul {
    margin:0;
    padding:0;
}

.portfolio-header-li {
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 90px;
}

.portfolio-header-button {
  cursor: pointer;
  border: none;
  background: none;
  color: #ffffff;
}

.portfolio-header-button:hover {
  cursor: pointer;
  border: none;
  background: none;
  color: #61dafb;
}