*{
  margin:0;
  padding:0;
  text-align: center;
}

.portfolio-header-h1 {
   background-color: #20232a;
   color:#ffffff;
 }
.portfolio-header-nav {
  background-color: #20232a;
}

.portfolio-header-ul {
    margin:0;
    padding:0;
    border-bottom-style: dashed;
    border-color: #ffffff;
}

.portfolio-header-li {
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 90px;
}

.portfolio-header-button {
  cursor: pointer;
  border: none;
  background: none;
  color: #ffffff;
}

.portfolio-header-button:hover {
  cursor: pointer;
  border: none;
  background: none;
  color: #61dafb;
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.portfolio-header-footer {
  background-color: #20232a;
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.portfolio-contents-title {
  background-color: #20232a;
  color: #ffffff;
  text-align: left;
  font-size: 18px;
}

.portfolio-Contents-msg {
  background-color: #20232a;
  text-align: left;
  color: #ffffff;
  white-space: pre-wrap;
}